body{
    background-color: black;
}

#Title{
    color: cadetblue;
    font-size: 50px;
    display: flex;
    justify-content: center;
    border: 3px solid grey;
    outline: solid 5px #FC5185;
    transition: outline 0.6s linear;
    margin: 0.5em; /
    outline-width: 10px;
}
